.title{
    height: 40px;
    font-size: 16px;
  margin: 10px 0;
}
input{
    width: 100%;
    border-color: #009688;
    outline: none;
   
}
.item-container{
    text-align: left;
    padding: 20px;
  background-color: #f1ebeb;
  border-radius: 10px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.n-row{
    margin:10px 5px;
    min-width: 100px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: background-color 0.3s, box-shadow 0.3s;
}
.n-button:hover {
    background-color: #00796b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
.n-button{
    min-width: 80px;
}


